@font-face {
    font-family: 'terminus';
    src: url('/fonts/terminus.ttf');
}

@font-face {
    font-family: 'fixedsys';
    src: url('/fonts/FSEX300.ttf');
}

@font-face {
    font-family: 'monospace';
    font-weight: 500;
    src: url('/fonts/LiberationMono-Regular.ttf');
}

a:link {
    color: #61AFEF;
}

a:visited {
    color: #C678DD;
}

body {
    background-color: #282C34;
    color: #abb2bf;

    font-family: ui-sans-serif;
    font-weight: 500;

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.header * {
    display: inline-block;
    vertical-align: middle;
}

.title {
    font-size: 36px;
    vertical-align: middle;
    font-family: fixedsys;
    display: inline-block;
}

* {
    vertical-align: middle;
    max-width: 100%;
}

.navbar {
    text-align: center;
}

.navlink {

}

.content {
   
}

.fst {
    font-size: 150%;
}

.sec {
    margin-left: 20px;
    font-size: 150%;
}

