@font-face {
    font-family: 'terminus';
    src: url('/fonts/terminus.ttf');
}

@font-face {
    font-family: 'fixedsys';
    src: url('/fonts/FSEX300.ttf');
}

body {
    background-image: url("tile1.jpg");
    background-repeat: repeat;
    font-family: terminus;
}

header *{
    display: inline-block;
    vertical-align: middle;
}

.title {
	font-size: 36px;
    vertical-align: middle;
    font-family: fixedsys;
}

.navbar {
    text-align: center;
}

.navlink {
    font-size: 20px;
}

.content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.fst {
    font-size: 150%;
}

.sec {
    margin-left: 20px;
    font-size: 150%;
}
